@{
    ViewData["Title"] = "Welcome to Our Clothing Shop";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Trendy Threads</h1>
    <p>Step into the world of style and comfort! Discover the latest trends in clothing and accessories, all crafted to elevate your wardrobe. Whether you're shopping for casual wear or an unforgettable outfit, we've got you covered.</p>
    <p>
        <a asp-controller="Products" asp-action="Index" class="btn btn-black">Explore Collections</a>
    </p>
    <div class="image-section mb-5 text-center">
    <img src="https://image.hm.com/assets/hm/60/d4/60d40808d0635af51439483ee88e43d11c3b18be.jpg?imwidth=2160" alt="Fashion Banner" 
         class="img-fluid" style="width: 100%; height: auto; border-radius: 10px; margin-bottom: 25px;" />
    </div>
</div>
